<h1>Edit The Item List</h1>

<ul>
  <% if @product.errors.any? %>
    <% @product.errors.full_messages.each do |message| %>
      <li class="model-errors"><%= message %></li> 
    <% end %>
  <% end %>
</ul>

<%= form_tag "/products/#{@product.id}", method: :patch do %>
  <div>
    Name: <input type="text" name="name" value="<%= @product.name %>">
  </div>
  <div>
    Price: <input type="text" name="Price" value="<%= @product.price %>">
  </div>
  <div>
    Discount: <input type="text" name="discount" value="<%= @product.discount %>">
  </div>
  <div>
    <input type="submit" value="Update The Item List">
  </div>
<% end %>