
<h1>Product</h1>

<h2><%= @product.name %></h2>
<h2>Price: <%= @product.price %></h2>
<h2>Discount: <%= @product.discount %></h2>
<h2>Supplier:<%= @product.supplier.name %></h2>
<h2>Image:<% @product.images.each do |image| %><h2>
  <img src="<%= image.url %>">
<% end %>
<ul> 
  <% @product.categories.each do | category | %>
    <li>Category: <%= category.name %></li>
  <% end %>
</ul>
<%= button_to "Delete", "/products/#{@product.id}", method: :delete %>
<%= button_to "Edit", "/products/#{@product.id}/edit", method: :get %>
<%= form_tag "/carted_products", method: :post do %>
 <div>
    <input type="hidden" name="product_id" value="<%= @product.id %>">
 </div>
  Quantity:<input type="integer" name="quantity">
  <button type="submit" class="btn btn-default">Add to Cart!</button>
<% end %>